body {
    background-color: black;
}

.navitron {
    background-color: #505254;
    display: block;
    flex-direction: row;
    justify-content: Center;
    height: 650px;
}


.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    width: 550px;
}

.buttons {
    height: 150px;
    width: 150px;
    justify-content: center;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #1F89F2;
    text-align: center;
    transition: all 0.15s;
}

.buttons:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media only screen and (min-width: 600px) {
    .navitron {
        display: flex;
    }
}